# Fill in the following information and rename the file to .env
DB_NAME = # Database name
DB_USER = # Database user
DB_PASS = # Database password
WORKING_DIR = # Working directory

# Example (addin)
# DB_NAME = gpt-chan
# DB_USER = root
# DB_PASS = REDACTED
# WORKING_DIR = C:/Addin Munawwar/2023/5. May/Algorithm Design/Tubes3_gpt-chan/backend/database